langchain-core==0.2.43
langchain-community 
langgraph==0.2.35
langchain-groq==0.1.9
langchain-google-genai==1.0.10
langchain-chroma==0.1.4
chromadb
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
beautifulsoup4
python-dotenv
colorama
langserve
sse_starlette
uvicorn
gunicorn
fastapi